* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Vend Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    gap: 20px;

}


img {
    height: 50px;
}
nav{
    margin-right: 10px;
}

.nav-center {
    width: 100%;
    border: 2px solid;
    border-radius: 20px;

}

.nav-center input {
    width: 80%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;

}

.hero {
    margin-top: 60px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}



.left-video video {
    height: fit-content;
    width: 100%;

}

.right-tittle {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
}

.right-tittle h1 {
    font-size: 2.5vw;
}

.right-tittle p {
    font-size: 2vw;
}

form{
    margin-top: 50px;
}

form .inp-par input {
    width: 50%;
    padding: 10px 20px;
    margin-top: 5px;
}
.inp-par {
    display: flex;
    flex-direction: column;
}


.comment-section button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background: transparent;
    /* border: 1px solid; */
    border: none;
    background-color: #F47555;
}


@media (min-width: 700px) {

    .inp-par{
        display: block;
    }
    .hero{
        flex-direction: row;
    }
.left-video video {
    width: 40vw;
}

    .nav-center {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;
    }

    .comment-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: #2a2a2a;
        padding: 10px 15px;
        border-radius: 30px;
    }

    .comment-box input {
        flex: 1;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 30px;
        background-color: transparent;
        color: white;
    }

    .comment-box button {
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        background-color: crimson;
        color: white;
        cursor: not-allowed;
    }

    /* Static comments */
    .user-comments {
        margin-top: 30px;
    }

    .comment-item {
        background-color: #222;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .comment-item h4 {
        margin-bottom: 5px;
        color: #ff5c5c;
    }

    .comment-item p {
        font-size: 0.95rem;
        color: #dcdcdc;
    }





}