* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    gap: 20px;

}


img {
    height: 50px;
}


.nav-center {
    width: 100%;
    border: 2px solid;
    border-radius: 20px;

}

.nav-center input {
    width: 80%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;

}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
    gap: 10px;
}

.cards {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;


    height: 50vw;
    width: 40vw;


    box-shadow: 0 0 4px rgba(0, 0, 0, 0.514);
    border-radius: 10px;

}

.cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}




@media (min-width: 900px) {




    .nav-center {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;
    }

    .cards {
        height: 30vw;
        width: 20vw;
    }

}